<p>
    survey works!
  </p>


  <app-base-page></app-base-page>
  <div class="container">
    <div class="row" style="margin-top: 5%; margin-left:30%">
      <div class="col col-md-6">
        <div class="card" style="width:590px">
          <h5 class="card-header alert-success">Secure To View Our SURVEY List</h5>
          <div class="card-body" >
            <a routerLink="survey-list" class="btn btn-primary" style="font-size: 20px;">
              <i class="fas fa-tasks fa-lg">
              </i> Add a Survey Question</a>
              <a routerLink="take-survey" class="btn btn-primary" style="font-size: 20px; margin-left: 30px">
                <i class="fas fa-tasks fa-lg">
                </i> Share Your Opinion</a>
          </div>
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  </div>
