<body>  <br>
  <br>
    <div class="container">
        <div class="jumbotron">
<div class="container surveyList">
  <div class="row">
    <div *ngIf="title == 'Survey Title'" class="col-lg-12">
        <h1>Survey List</h1>
      <br />
      <a style="font-size:18px" class="btn btn-primary" routerLink="/surveys/survey-list/add" role="button">
        <i class="fas fa-plus-circle"></i> Add a Survey</a
      >

      <br /><br />
      <div class="">
        <hr />

        <div *ngFor="let survey of surveys; let i = index">
          <div class="row">
            <div class="col-lg-9">
              <h3>{{ survey.surveyName }}</h3>
            </div>
            <div *ngIf="isMySurvey" class="col-lg-3 buttons"></div>

            <div *ngIf="!isMySurvey" class="col-lg-3 buttons">
              <a style="font-size:17px" routerLink="/surveys" class="btn btn-primary">
                Participate</a
              > </div>
          </div>
          <hr />
        </div>
</div>
</div>
  </div>
</div>
</div>
</div>
</body>
