<body>
    <div class="container">
      <div class="jumbotron">
        <div class="row">
            <div class="col-md-offset-3 col-md-11">
                <h1 class="display-4" style="color: #CEF0D4; font-family: 'courier', cursive; font-size: 60px; font-weight: normal; line-height: 48px; margin-top:10px; margin-left:200px;  text-align: left; text-shadow: 1px 1px 2px black;"><strong>
                User Details </strong></h1>

                <br><br>
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row-->
                    <tr>
                        <th class="text-center">User Name</th>
                        <th class="text-center">Display Name</th>
                        <th class="text-center"> Email </th>
                        <th class="text-center"></th>
                    </tr>

                        <tr  >
                            <td class="text-center" > {{user.username}} </td>
                            <td class="text-center"> {{user.displayName}} </td>
                            <td class="text-center"> {{user.email}} </td>

                            <td  class="text-center" style="width:100px">
                            <a routerLink="profile-edit/edit/{{user.username}}" class="btn btn-primary">
                              <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>

                        </tr>
                </table>

            </div>
        </div>
      </div>
